<div id="{{id}}">
    <div class="player"
         style='background-repeat: no-repeat;
                 background-image: url("../src/styles/img/{{shirtColor}}player{{animationFile}}.gif");
                 height:100px;
                 width:100px;
                 background-position:center top;
                 position:absolute;
                 left:{{positionX}}px;
                 top:{{positionY}}px;'>

        <div class="name">{{definition.name}}</div>
        <div class="decision" style="color:black; background-color:white;"></div>
        <div class="id" hidden>{{id}}</div>
    </div>
</div>

