<div class="field-wrapper-container"
     style='background-image: url("../src/styles/img/field.png"); background-repeat: no-repeat; background-size: contain;'>
    <div class="field" style='width:{{width}}px; height:{{height}}px;'>
        <div class="goal"
             style='position: absolute; left:{{homeGoalX}}px; top:{{homeGoalY}}px; width:{{goalWidth}}px; height:{{goalHeight}}px; background-color: white;'>
        </div>
        <div class="goal"
             style='position: absolute; left:{{awayGoalX}}px; top:{{awayGoalY}}px; width:{{goalWidth}}px; height:{{goalHeight}}px; background-color: white;'>
        </div>
    </div>
</div>

