<div class="faceGenerator">
 <div class="faceContainer">
    <img class="faceHeadElement" id="{{id}}" src="../../src/faces/img/head.png" style="left:{{headSpriteOffset}}px; filter:brightness({{skinBrightness}}%);"></img>
    <img class="faceEyesElement" id="{{id}}" src="../../src/faces/img/eyes.png"  style="left:{{eyesSpriteOffset}}px"></img>
    <img class="faceEyebrowsElement" id="{{id}}" src="../../src/faces/img/eyebrows.png" style="left:{{eyebrowsSpriteOffset}}px; filter:hue-rotate({{moustacheHue}}deg) brightness({{moustacheBrightness}}%);"></img>
    <img class="faceMouthElement" id="{{id}}" src="../../src/faces/img/mouth.png" style="left:{{mouthSpriteOffset}}px"></img>
    <img class="faceMoustacheElement" id="{{id}}" src="../../src/faces/img/moustache.png" style="left:{{moustacheSpriteOffset}}px; filter:hue-rotate({{moustacheHue}}deg) brightness({{moustacheBrightness}}%);"></img>
    <img class="faceHairElement" id="{{id}}" src="../../src/faces/img/hair.png" style="left:{{hairSpriteOffset}}px; filter:hue-rotate({{hairHue}}deg) brightness({{hairBrightness}}%);"></img>
 </div>
</div>